<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/header.css" rel="stylesheet" th:href="@{/css/header.css}" >
    <link href="../../css/commitstyle.css" rel="stylesheet" th:href="@{/css/commitstyle.css}" >
    <link href="../../css/popupstyle.css" rel="stylesheet" th:href="@{/css/popupstyle.css}" >

</head>
<body>
<div class = "container-fluid">
    <nav class="navbar navbar-inverse bs-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="#" class="navbar-img"><img src="../../images/Linkaplace_Logo.svg"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a id = "homeid" href="#" >Homepage <span class="sr-only">(current)</span></a></li>
                    </li>
                </ul>
                <form class="navbar-form navbar-left form-horizontal" role="search">
                    <div class="input-group">
                        <input type="text" class="search-box" placeholder="Search">
                        <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle navbar-img" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Account
                            <img src="http://placehold.it/150x150" class="img-circle" alt="Profile Image" />
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Log out</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="panelwrapper">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span> Total changes
            </div>
            <div class="panel-body" id="panelb">
                <ul class="list-group" id="myul">
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox">
                                List group item heading
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" id="checkbox2" />
                            <label for="checkbox2">
                                List group item heading 1
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" id="checkbox3" />
                            <label for="checkbox3">
                                List group item heading 2
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" id="checkbox4" />
                            <label for="checkbox4">
                                List group item heading 3
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <h6>
                            Total changes <span class="label label-info" id="totalCount">25</span></h6>
                    </div>

                    <input type="button" value="Commit" id="show-button">


                </div>
            </div>
        </div>
    </div>
</div>

<div id="prompt-form-container">
    <form role="form" id="prompt-form" class="contact-form" th:action="@{/commitpage}" th:object="${cmessage}" method="post">

        <div id ="texthead">
            Enter message:
        </div>
        <input  id="close" name="exit" type="image" src="../../images/close_red.png">
        <div>
            <div class="form-group">
                <textarea class="form-control textarea" rows="1" name="text" id="Message" placeholder="Message" th:field ="*{message}" required></textarea>
            </div>
        </div>

        <button type="submit" class="btn main-btn pull-right">Commit changes</button>

    </form>
</div>

<script th:inline="javascript">

    //========================COUNTER==========================================
    var ul = document.getElementById("myul");
    var liNodes = 0;

    for (var i =0; i < ul.childNodes.length; i++){
        if(ul.childNodes[i].nodeName === 'LI'){
            liNodes ++ ;
        }
    }

    document.getElementById("totalCount").innerHTML = "" + liNodes;

//==============================POPUP===========================================
    function showCover() {
        var coverDiv = document.createElement('div');
        coverDiv.id = 'cover-div';
        document.body.appendChild(coverDiv);
    }

    function hideCover() {
        document.body.removeChild(document.getElementById('cover-div'));
    }

    function showPrompt() {
        showCover();
        var form = document.getElementById('prompt-form');
        var container = document.getElementById('prompt-form-container');

        function complete() {
            hideCover();
            container.style.display = 'none';
            document.onkeydown = null;
        }


        document.getElementById("close").onclick= function() {
            complete(null);
        };

        document.onkeydown = function(e) {
            if (e.keyCode == 27) { // escape
                complete(null);
            }
        };

        var lastElem = form.elements[form.elements.length - 1];
        var firstElem = form.elements[0];

        lastElem.onkeydown = function(e) {
            if (e.keyCode == 9 && !e.shiftKey) {
                firstElem.focus();
                return false;
            }
        };

        firstElem.onkeydown = function(e) {
            if (e.keyCode == 9 && e.shiftKey) {
                lastElem.focus();
                return false;
            }
        };


        container.style.display = 'block';
        form.elements.text.focus();
    }

    document.getElementById('show-button').onclick = function() {
        showPrompt();
    };
</script>

</body>
</html>