<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="fragments/links :: links"></span>
    <link href="../../css/form.css" rel="stylesheet" th:href="@{/css/form.css}" >
    <link href="../../css/logo.css" rel="stylesheet" th:href="@{/css/logo.css}">
</head>

<body>
    <div class="container">
        <div th:replace="fragments/logo :: logo"></div>
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="http://www.freeiconspng.com/uploads/customers-icon-3.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method="post"  th:action="@{/login}" > <!--th:object ="${credentials}" action = "/loginpage.html"-->
                <span id="reauth-email" class="reauth-email"></span>
                    <input type="email" id="inputEmail" name="username" class="form-control" placeholder="Email address" required autofocus ><!--th:field ="*{email}"-->
                    <!--<input type="text" id="inputEmail1" class="form-control" placeholder="Role" required autofocus > //th:field ="*{role}"-->
                    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required > <!--th:field ="*{password}"-->
                <!--<div id="remember" class="checkbox">-->
                    <!--<label>-->
                        <!--<input type="checkbox" value="remember-me"> Remember me-->
                    <!--</label>-->
                <!--</div>-->
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->

        <!-- jQuery -->
        <script src="http://www.tutorialspoint.com/bootstrap/scripts/jquery.min.js">
        </script>

        <!-- Bootstrap Core JavaScript -->
        <script src="http://www.tutorialspoint.com/bootstrap/js/bootstrap.min.js">
        </script>

</body>

</html>