<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/header.css" rel="stylesheet" th:href="@{/css/header.css}" >
    <link href="../../css/projecteditstyle.css" rel="stylesheet" th:href="@{/css/projecteditstyle.css}" >
    <link href="../../css/createorgstyle.css" rel="stylesheet" th:href="@{/css/createorgstyle.css}" >


</head>
<body>
<div class = "container-fluid">
    <div th:insert="~{fragments/header :: header}">...</div>

    <div class="container-fluid">
        <img src="../../images/board.svg" id="projimg"/>
        <h1 id ="projname" th:text="${project.name}"></h1>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Orgs</h3>
                        <div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
                        </div>
                    </div>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Org link</th>
                            <th>Branch</th>
                            <th>User</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="org : ${project.orgList}">
                            <tr>
                                <td> <div th:text="${org.id}"></div></td>
                                <td> <div th:text="${org.orgLink}"></div></td>
                                <td> <div th:text="${org.branchName}"></div></td>
                                <td>
                                    <th:block th:each="user : ${org.userList}">
                                        <p th:text="${user.name} "></p>
                                    </th:block>
                                </td>
                                <td>
                                    <a  id="editOrg" th:href="@{'/orgs/'+${org.id}}">Edit org </a>
                                </td>
                                <td>
                                    <a  id="deleteOrg" th:href="@{'/projectmanagepage/'+${org.id}}">Delete
                                        Org </a>
                                </td>

                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <form>
                    <button type="button" class="btn" id ="show-org-popup">Create new org</button>
                </form>
            </div>

            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Users on project</h3>
                        <div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="user : ${projectUsers}">
                            <tr>
                                <td> <div th:text="${user.id}"></div></td>
                                <td> <div th:text="${user.name}"></div></td>
                                <td> <div th:text="${user.email}"></div></td>
                                <td> <div th:text="${user.roleId.roleName}"></div></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <form class="adduser">
                    <button type="submit" class="btn">Add user to project</button>
                </form>
                <form class="edituser">
                    <button type="submit" class="btn">Edit users on project</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="prompt-form-container">
    <form role="form" id="prompt-form" class="contact-form" th:action="@{/projectmanagepage}" th:object="${org}" method="post">
        <input  id="close" name="exit" type="image" src="../../images/close_red.png">
        <h3 id = "texthead">Create new org</h3>
        <div class="form-group">
            <label class="control-label">Org link</label>
            <input type="text" class="form-control" name="name" placeholder="Salesforce org link" th:text="*{orgLink}" th:field ="*{orgLink}">
        </div>
        <div class="form-group">
            <label class="control-label">Login</label>
            <input type="text" class="form-control"  name="name" placeholder="Login" required th:text="*{login}" th:field ="*{login}">
        </div>

        <div class="form-group">
            <label class="control-label">Password</label>
            <input type="text" class="form-control" name="Password" placeholder="Password" required th:text="*{password}" th:field ="*{password}">
        </div>
        <div class="form-group">
            <label class="control-label">Branch name</label>
            <input type="text" class="form-control" name="BranchName" placeholder="Branch name" required th:text="*{branchName}" th:field ="*{branchName}">
        </div>
        <button type="submit" class="btn main-btn pull-right">Save</button>
    </form>
</div>

<script>

    //==============================POPUP===========================================
    function showCover() {
        var coverDiv = document.createElement('div');
        coverDiv.id = 'cover-div';
        document.body.appendChild(coverDiv);
    }

    function hideCover() {
        document.body.removeChild(document.getElementById('cover-div'));
    }

    function showPrompt() {
        showCover();
        var form = document.getElementById('prompt-form');
        var container = document.getElementById('prompt-form-container');

        function complete() {
            hideCover();
            container.style.display = 'none';
            document.onkeydown = null;
        }


        document.getElementById("close").onclick= function() {
            complete(null);
        };

        document.onkeydown = function(e) {
            if (e.keyCode == 27) { // escape
                complete(null);
            }
        };

        var lastElem = form.elements[form.elements.length - 1];
        var firstElem = form.elements[0];

        lastElem.onkeydown = function(e) {
            if (e.keyCode == 9 && !e.shiftKey) {
                firstElem.focus();
                return false;
            }
        };

        firstElem.onkeydown = function(e) {
            if (e.keyCode == 9 && e.shiftKey) {
                lastElem.focus();
                return false;
            }
        };


        container.style.display = 'block';
        form.elements.text.focus();
    }

    document.getElementById('show-org-popup').onclick = function() {
        showPrompt();
    };

</script>
</body>
</html>