<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <span th:replace="fragments/links :: links"></span>
    <style>
        #container{
            min-height: calc(95vh - 5vh);
        }
    </style>
</head>
<body>
<div class = "container-fluid">
    <div id = "container">
        <div th:insert="~{fragments/header :: header}">...</div>

        <!--<div class="alert alert-danger" role="alert">-->
        <!--<h1><th:block th:text="${error}" /></h1>-->
        <!--</div>-->
        <div class="alert alert-danger" role="alert" th:align="center">
            <h1><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                <th:block th:text="${msg}" /></h1>
        </div>
    </div>
<div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>