<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link  rel="stylesheet" th:href="@{/css/header.css}">
    <link  rel="stylesheet" th:href="@{/css/commitstyle.css}">
    <link  rel="stylesheet" th:href="@{/static/css/popupstyle.css}">
</head>
<body>
<div class = "container-fluid">
    <div th:insert="~{fragments/header :: header}">...</div>
</div>
<!--<div class="alert alert-danger" role="alert">-->
    <!--<h1><th:block th:text="${error}" /></h1>-->
<!--</div>-->
<div class="alert alert-danger" role="alert" th:align="center">
    <h1><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
   <th:block th:text="${error}" /></h1>
</div>
</body>
</html>