
.tablewrapper{
    margin: 10px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
}

tbody>tr:hover{
    background-color: rgba(77, 22, 61, 0.2);
}
body{
    background-color: rgba(55, 103, 107,0.04);
}
.container-fluid{
    padding: 5px;
}

