
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.contact-form {
    margin-top: 15px;
}

.contact-form .textarea {
    min-height: 100px;
    resize: none;
}

.form-control {
    box-shadow: none;
    border-color: #eee;
    height: 20px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #00b09c;
}

.form-control-feedback {
    line-height: 50px;
}

.main-btn {
    background: #00b09c;
    border-color: #00b09c;
    color: #fff;
}

.main-btn:hover {
    background: #00a491;
    color: #fff;
}

.form-control-feedback {
    line-height: 50px;
    top: 0px;
}



#prompt-form {
    display: inline-block;
    padding: 5px 5px 5px 7px;
    width: 30%;
    height: 30%;
    border: 1px solid rgba(0, 176, 156,1);
    border-radius: 5px;
    background-color: rgb(144, 184, 219);
    /*background: white url(git.png) no-repeat left 5px;*/
    vertical-align: middle;
}

#prompt-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;

}

#prompt-form-container:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
}

#prompt-form input[name="text"] {
    display: block;
    margin: 5px;
    width: 100%;
}
#texthead{

    font-family: Montserrat;
    color: #ffffff;
    font-weight: bold;

    /*margin-right: 70%;*/
    /*margin-left: auto;*/
    display: inline-block;
    float: left;
}
#close{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 5px;
    float: right;
}