#progressbar-container:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
#progressbar-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;

}

#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background: rgb(30,30,40);
    opacity: 0.9;
}


#myBar{
    /*display: inline-block;*/

    background-color: #7D8491;
    opacity: 0.5;
    text-align: center;
    border-radius: inherit;
    color: white;
}

#bar-wrapper{
    top: 45%;
    display: inline-block;
    width: 50%;
    position: fixed;
    left: 25%;
    background-color: #faffef;
    border-radius: 14px;
}