


.panelwrapper{
    height: 90vh;
}

.panel.panel-primary{
    position: relative;
    height: 100%;
    border-color:#7D8491;
    background-color: rgba(192, 197, 193,0.15);

}
.panel-body {
    overflow-y: scroll;
    position: relative;
    height: 80%;
    border-color:#7D8491 ;
}
#panelb{
    min-width: 100%;
}

.panel-primary> .panel-heading{
    color: #fff;
    background-color: #7D8491;
    border-color:#7D8491 ;
}

.panel-footer{
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.panel .glyphicon, .list-group-item .glyphicon {
    margin-right: 5px;
}

.panel-body .radio, .checkbox {
    display: inline-block;
    margin: 0px;
}

.panel-body input[type=checkbox]:checked + label {
    text-decoration: none;
    color: rgb(128, 144, 160);
}

.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    background-color: rgb(245, 245, 245);
}

.list-group {
    margin-bottom: 0px;
}


.refresh-form{
    width: 400px;
    height: 25px;
    display: inline-block;
    position: absolute;
    right:20px;

}
.prepare-button{
    display: inline-block;
    position: absolute;
    right: 20px;

    background-color:transparent ;
    color: #ffff;
    border: 2px solid #3F334D ;
    outline: none;
    padding: 2px;

}

.commit-button{
    background:#3F334D;
    color:#fff;
    border:none;
    position:relative;
    /*height:40px;*/
    /*width: 40px;*/
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
.commit-button:hover{
    background:#fff;
    color:#3F334D;
}
.commit-button:before,.btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #3F334D;
    transition:400ms ease all;
}
.commit-button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.commit-button:hover:before,.commit-button:hover:after{
    width:100%;
    transition:800ms ease all;
}
.changes{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: small;
    position: absolute;
    left:5px;
}

