
#prompt-form {
    display: inline-block;
    padding: 5px 5px 5px 7px;
    position: relative;
    width: 400px;
    height: 400px;
    border: 1px solid rgb(148, 154, 146);
    border-radius: 5px;
    background-color: rgba(207, 201, 212,0.9);
    /*background: white url(git.png) no-repeat left 5px;*/
    vertical-align: middle;
}

#prompt-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;

}

#prompt-form-container:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
}

#prompt-form input[name="text"] {
    display: block;
    margin: 5px;
    width: 100%;
}
#texthead{
    font-family: Montserrat;
    color: #ffffff;
    font-weight: bold;

    /*margin-right: 70%;*/
    /*margin-left: auto;*/
    /*display: inline-block;*/
    /*float: left;*/
}
#close{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 5px;
    float: right;
}

