@import url(https://fonts.googleapis.com/css?family=Montserrat);

#footer{
    margin-bottom: -80px;
    border-radius: 4px;
    padding: 0.5%;
    margin-top: 5px;
    height:5vh;
    background-color:#180231 ;
    color: white;
    text-align: center;
}
#footer>#center{
    /*position: absolute;*/
    /*right: 44%;*/
}
#footer>#left{
    position: absolute;
    left: 1%;
}
#footer>#right{
    position: absolute;
    right: 1%;
}
#right a{
    color: white;
    text-decoration: none;
}