<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <span th:replace="fragments/links :: links"></span>
    <link rel="stylesheet" th:href="@{/css/spinnercss.css}">  <!--styles for spinner-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div id = container>
    <div th:insert="~{fragments/header :: header}">...</div>
    <div class="main">
        <div class="tablewrapper">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Git</th>
                    <th>Action</th>
                </tr>
                </thead>
                <a th:href="@{/users?list}" class="btn btn-primary pull-right "
                   style="width: 160px; font-size: medium">Users list</a>
                <a th:href="@{/users?new}" class="btn btn-primary pull-right "
                   style="width: 160px; font-size: medium">Create new user</a>
                <tbody>
                <!--<div th:switch="${session.role}" class="col-md-3">-->
                    <!--<div th:case="'ROLE_ADMIN'" >-->
                        <!--<a href="/projects/new" class="btn btn-primary btn-lg btn-block btn-huge"-->
                            <!--style="width: 160px; font-size: medium">Create new project</a>-->
                    <!--</div>-->
                <!--</div>-->
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="col-md-3">
                    <a href="/projects/new" class="btn btn-primary btn-lg btn-block btn-huge"
                    style="width: 160px; font-size: medium">Create new project</a>
                </div>

                <!--<div>-->
                    <!--<a  href="?new" class="btn btn-primary btn-lg btn-block btn-huge"-->
                        <!--style="width: 160px; font-size: medium">Create new project</a>-->
                <!--</div>-->

                <th:block th:each="project : ${userProjects}">
                    <tr>
                        <td>
                            <div th:text="${project.name}"></div>
                        </td>
                        <td>
                            <div th:text="${project.description}"></div>
                        </td>
                        <td>
                            <div th:text="${project.gitUrl}"></div>
                        </td>
                        <td th:switch="${session.role}">
                            <a th:case="'ROLE_ADMIN'" id = "redirectA" th:href="@{/projects/view(projid = ${project.id})}">Edit
                                project </a>
                            <!--<a th:case="'ROLE_USER'" th:href="@{/commitpage(projid = ${project.id})}" >View project</a>-->
                            <a  th:case="'ROLE_USER'"  th:onclick="'javascript:aClick(\'' + ${project.id} + '\');'" >View project</a><!--th:href="@{/projects/clone(projid = ${project.id})}"-->
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
<div id = "spinner-container">
    <div class="loader"></div>
</div>

<script th:src="@{/js/spinnerscript.js}"></script>
<script  th:inline="javascript">

    function aClick(projid){
        goAjax(projid);
    }

    function goAjax(param) {
        jQuery.ajax({
            type: "GET",
            url: "/projects/clone?projid="+param,
            beforeSend: function () {
                showSpinner();
            },
            success: function () {
                removeSpinner();
                window.location.replace("/commitpage?projid="+param);
            }
        });
    }


</script>
</body>
</html>