<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="fragments/links :: links"></span>
</head>
<body>
<div class="container-fluid">
    <div th:insert="~{fragments/header :: header}">...</div>
    <div class="main">
        <div class="tablewrapper">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Git</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <div th:switch="${session.role}" class="col-md-3">
                    <a th:case="'admin'" href="?new" class="btn btn-primary btn-lg btn-block btn-huge"
                       style="width: 160px; font-size: medium">Create new project</a>
                </div>

                <th:block th:each="project : ${userProjects}">
                    <tr>
                        <td>
                            <div th:text="${project.name}"></div>
                        </td>
                        <td>
                            <div th:text="${project.description}"></div>
                        </td>
                        <td>
                            <div th:text="${project.gitUrl}"></div>
                        </td>
                        <td th:switch="${session.role}">
                            <a th:case="'admin'" th:href="@{/projectmanagepage(projid = ${project.id})}">Edit project </a>
                            <a th:case="'user'" th:href="@{/commitpage(projid = ${project.id})}">View project</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>