<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="fragments/links :: links"></span>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div id = container>
    <form method="post" th:action="@{/projects}" th:object="${project}">
        <div class="row">
            <div class="col-md-6">
                <h3 style="margin-bottom: 25px; text-align: center;">Project information</h3>
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Name" required
                           th:field="*{name}">
                </div>
                <div class="form-group">
                    <label class="control-label">Git-url</label>
                    <input type="text" class="form-control" name="Git-url" placeholder="Git-url"
                           required
                           th:field="*{gitUrl}">
                </div>
                <div class="form-group">
                    <label class="control-label">Git-login</label>
                    <input type="text" class="form-control" name="Git-login"
                           placeholder="Git-login"
                           required th:field="*{gitLogin}">
                </div>
                <div class="form-group">
                    <label class="control-label">Git-password</label>
                    <input type="text" class="form-control" name="Git-password"
                           placeholder="Git-password" required th:field="*{gitPasword}">
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="control-label">Project folder</label>-->
                    <!--<input type="text" class="form-control" name="Project-folder"-->
                           <!--placeholder="Project folder" required th:field="*{folder}">-->
                <!--</div>-->
                <div class="form-group">
                    <label class="control-label">Project decription</label>
                    <input type="text" class="form-control" name="Project-decription"
                           placeholder="Project description" required th:field="*{description}">
                </div>
            </div>
            <div class="col-md-6">
                <h3 style="margin-bottom: 25px; text-align: center;">Sandbox information</h3>
                <div class="form-group">
                    <label class="control-label">Org link</label>
                    <input type="text" class="form-control" name="name" placeholder="full SB link"
                           th:field="*{orgList[0].orgLink}">
                </div>

                <div class="form-group">
                    <label class="control-label">Login</label>
                    <input type="text" class="form-control" name="name" placeholder="Login" required
                           th:field="*{orgList[0].login}">
                </div>

                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="text" class="form-control" name="Password" placeholder="Password"
                           required th:field="*{orgList[0].password}">
                </div>
            </div>
        </div>
        <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Save project</button>
    </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>