<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homecss.css}"/>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="main">

    <div class="container">
        <form method="post" th:action="@{/orgs}" th:object="${org}">
            <div class="row">
                <div class="col-md-6">
                    <h3 style="margin-bottom: 25px; text-align: center;">Edit org data</h3>
                    <div class="form-group">
                        <label class="control-label">Org link</label>
                        <input type="text" class="form-control" name="name" placeholder="Salesforce org link"
                               th:field="*{orgLink}">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Login</label>
                        <input type="text" class="form-control" name="name" placeholder="Login" required
                               th:field="*{login}">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input type="text" class="form-control" name="Password" placeholder="Password" required
                               th:field="*{password}">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Branch name</label>
                        <input type="text" class="form-control" name="BranchName" placeholder="Branch name" required
                               th:field="*{branchName}">
                    </div>
                    <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Save org</button>
        </form>
    </div>
    <div class="col-md-6">
        <h3 style="margin-bottom: 25px; text-align: center;">Manage users</h3>
        <label for="users">Users:</label>
        <table id="users" class="user-table">
            <th:block th:each="user : ${org.userList}">
                <tr>
                    <td>
                        <label th:id="'label-'+${user.id}" th:text="${user.Name}"></label>
                    </td>
                    <td>
                        <form th:action="${org.id}+'/users/del/'+${user.id}" method="POST" >
                            <input type="submit" value="Remove" th:id="'remove-'+${user.id}"/>

                            <script type="text/javascript" th:src="@{/js/jquery-1.7.1.js}" ></script>
                            <script  type="text/javascript" th:inline="javascript">
                                $('#remove-[[${user.id}]]').on("click", function() {
                                    $('#remove-[[${user.id}]]').addClass("hidden");
                                    $("#label-[[${user.id}]]").remove();

                                    // add to list of unassigned
                                    var opt = document.createElement("option");
                                    opt.setAttribute("value", "[[${user.id}]]");
                                    opt.textContent = "[[${user.name}]]";
                                    $("#selected-emp").append(opt);
                                });
                            </script>
                        </form>
                    </td>
                </tr>
            </th:block>
        </table>

        <label for="unassigned">Unassgined:</label>
        <table id="unassigned">
            <tr>
                <form method="post" id="add-form">
                    <td>
                        <select id="selected-emp">
                            <th:block th:each="uemp : ${unassigned}">
                                <option value="${uemp.id}"> ${uemp.name}</option>
                            </th:block>
                        </select>
                    </td>
                    <td>
                        <input type="submit" value="Add" id="add-employee" />
                        <script type="text/javascript" th:src="@{/js/jquery-1.7.1.js}" ></script>
                        <script  type="text/javascript" th:inline="javascript">

                            $("#add-employee").on("click", function() {
                                $("#selected-emp").selected().remove();
                            });
                        </script>
                    </td>
                </form>
            </tr>
        </table>

    </div>
</div>
</div>
</div>

<script type="text/javascript" th:src="@{/js/jquery-1.7.1.js}" ></script>

<script  type="text/javascript" th:inline="javascript">

    (function() {
        // prepare default form action
        setAddAction();

        // handler for changing action
        $("#selected-emp").on("change", function() {
            setAddAction();
        });

        function setAddAction() {
            var id = $("#selected-emp").val();
            $("#add-form").attr("action", "${task.id}/employees/add" + id);
        }
    })();
</script>



</body>
</html>