<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="fragments/links :: links"></span>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>

<body>


<div class="main">
    <div class="container-fluid">
        <div id = container>
            <div th:replace="fragments/header :: header"></div>
        <form method="post" th:object="${org} ">
                    <h3 style="margin-bottom: 25px; text-align: center;">Edit org data</h3>
                    <div class="form-group">
                        <label class="control-label">Org link</label>
                        <input type="text" class="form-control" name="name" placeholder="Salesforce org link"
                        th:field ="*{orgLink}" >
                    </div>
                    <div class="form-group">
                        <label class="control-label">Login</label>
                        <input type="text" class="form-control" name="name" placeholder="Login" required
                               th:field="*{login}">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input type="text" class="form-control" name="Password" placeholder="Password" required
                               th:field="*{password}">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Branch name</label>
                        <input type="text" class="form-control" name="BranchName" placeholder="Branch name" required
                               th:field="*{branchName}">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Current user:</label>
                        <label th:text="${assigned[0].name}"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Assign new user</label>
                        <select id="selected-emp" th:field="*{userList[0].id}" >
                            <option th:each="uemp : ${unassigned}" th:value="${uemp.id}" th:text="${uemp.name}">
                            </option>
                        </select>
                    </div>
                    <input type="hidden"  th:field="*{projectId.id}"/>
                    <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Save org</button>
        </form>
    </div>
        <div th:replace="fragments/footer :: footer"></div>
</div>
</div>
<script type="text/javascript" th:inline="javascript">
    (function () {
        // prepare default form action
        setAddAction();
        // handler for changing action
        $("#selected-emp").on("change", function () {
            var id = $("#selected-emp").val();
            if(id!=null) {
                setAddAction();
            }
        });

        function setAddAction() {
            var id = $("#selected-emp").val();
            $("#add-form").attr("action", [[${org.id}]] + '/users/add/' + id);
        }
    })();
</script>

</body>
</html>