<div class="copyright" th:fragment="footer">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
        <p><i class="fa fa-envelope"></i> E-mail : ci_manager@ctdev.com</p>
    </div>
    <div class="col-sm-3">
        <div><div class="col-sm-1"> </div><div class="col-sm-6"><p>&#9400 2017 - CustomerTimes</p>
        </div></div>
    </div>
    <div class="col-sm-3">
        <ul class="bottom_uls">
            <li><a href="#">Contact us</a></li>
        </ul>
        <ul class="bottom_ul">
            <li><a href="#">salesforce.com</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Faq's</a></li>
        </ul>
    </div>
</div>