<div class="container-fluid" th:fragment="header">
    <nav class="navbar navbar-inverse bs-dark">
        <div class="container-fluid" id="headercont">
            <div class="navbar-header">
                <a href="#" class="navbar-img"><img src="../../images/Linkaplace_Logo.svg"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a id="homeid" th:href="@{/projects/list}">Projects <span class="sr-only">(current)</span></a></li>
                </ul>
                <!--1-->
                <ul class="nav navbar-nav navbar-right">
                    <!--<li class="dropdown">-->
                        <div>
                        <a th:href="@{/logout}" class="btn btn-lg logout">
                            <span class="glyphicon glyphicon-log-out"></span> Log out
                        </a>
                        </div>
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </nav>
</div>