<div th:fragment="projectForm">

    <h3 style="margin-bottom: 25px; text-align: center;">Project information</h3>
    <div class="form-group">
        <label class="control-label">Name</label>
        <input type="text" class="form-control"  name="name" placeholder="Name" required
               th:field="*{name}">
    </div>
    <div class="form-group">
        <label class="control-label">Git-url</label>
        <input type="text" class="form-control"  name="Git-url" placeholder="Git-url"
               required
               th:field="*{gitUrl}">
    </div>
    <div class="form-group">
        <label class="control-label">Git-login</label>
        <input type="text" class="form-control"  name="Git-login"
               placeholder="Git-login"
               required th:field="*{gitLogin}">
    </div>
    <div class="form-group">
        <label class="control-label">Git-password</label>
        <input type="text" class="form-control"  name="Git-password"
               placeholder="Git-password" required th:field="*{gitPasword}">
    </div>
    <div class="form-group">
        <label class="control-label">Project decription</label>
        <input type="text" class="form-control"  name="Project-decription"
               placeholder="Project description" required th:field="*{description}">
    </div>
</div>


<div  th:fragment="sandboxForm">
    <h3 style="margin-bottom: 25px; text-align: center;">Sandbox information</h3>
    <div class="form-group">
        <label class="control-label">Org link</label>
        <input type="text" class="form-control" name="name" placeholder="full SB link"
               th:field="*{orgList[0].orgLink}">
    </div>

    <div class="form-group">
        <label class="control-label">Login</label>
        <input type="text" class="form-control"  name="name" placeholder="Login" required
               th:field="*{orgList[0].login}">
    </div>

    <div class="form-group">
        <label class="control-label">Password</label>
        <input type="text" class="form-control" name="Password" placeholder="Password"
               required th:field="*{orgList[0].password}">
    </div>

    <!--<div class="form-group">-->
        <!--<label class="control-label">Git branch name</label>-->
        <!--<input type="text" class="form-control"  name="Git baranch name"-->
               <!--placeholder="Git branch name" required th:field="*{orgList[0].branchName}">-->
    <!--</div>-->
</div>