<head th:fragment="links">
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/homecss.css" rel="stylesheet" th:href="@{/css/homecss.css}">
    <link href="../../css/header.css" rel="stylesheet" th:href="@{/css/header.css}">
    <link href="../../css/projects.css" rel="stylesheet" th:href="@{/css/projects.css}">
    <link href="../../css/projects.css" rel="stylesheet" th:href="@{/css/projects.css}">
</head>