<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="fragments/links :: links"></span>
</head>
<body>
<div class="container-fluid">
    <div id = "container">
        <div th:insert="~{fragments/header :: header}">...</div>
        <div th:fragment="userForm">
            <h3 style="margin-bottom: 25px; text-align: center;">User information</h3>
            <form method="post" id ="password" th:action="@{'/users?changepassword&userId='+${user.id}}" th:object="${user}">
                <div class="form-group">
                <label class="control-label">New Password</label>
                <input id="input1" type="text" class="form-control" name="Password" placeholder="Password"
                    required th:field="*{password}">
                </div>
                <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Change</button>
            </form>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>