<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="fragments/links :: links"></span>
</head>
<body>
<div class="container-fluid">
    <div id=container>
        <div th:insert="~{fragments/header :: header}">...</div>
        <div class="main">
            <div class="tablewrapper">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Enabled</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="user : ${users}">
                        <tr>
                            <td>
                                <div th:text="${user.name}"></div>
                            </td>
                            <td>
                                <div th:text="${user.email}"></div>
                            </td>
                            <td>
                                <div th:text="${user.roleId.roleName}"></div>
                            </td>
                            <td>
                                <div th:text="${user.enabled}"></div>
                            </td>
                            <td>
                                <div>
                                    <a  th:href="@{'/users?edit&userId='+${user.id}}"
                                        class="btn btn-primary btn-lg btn-block pull-right"
                                        style="width: 120px; font-size: medium">Edit user</a>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>